.global-settings {
    display: grid;
    gap: 20px;
}

.global-settings__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.global-settings__container > .range {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}

.global-settings__container > .input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}