.grid {
    display: grid;
}

.grid__menu {
    display: flex;
    gap: 10px;
    background-color: #fff;
    padding: 10px;
}

.grid__layout {
    display: grid;
    padding-top: 10px;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}

@media only screen and (max-width: 1000px) {
    .grid__layout {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .alarms {
        grid-column: span 1 !important;
    }
    .server-stats {
        grid-column: span 1 !important;
    }
    .live-stream {
        grid-column: span 1 !important;
    }
    .toggle-services {
        grid-column: span 1 !important;
    }
    .edit-settings {
        grid-column: span 1 !important;
    }
    .sensors {
        grid-column: span 1 !important;
    }
}