.live-stream {
    display: grid;
    gap: 10px;
}

.live-stream > button {
    justify-self: flex-start;
}

.live-stream__image > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}