.live-stream {
    display: grid;
    gap: 10px;
}

.live-stream > button {
    justify-self: flex-start;
}

.live-stream__stream {
    width: 100%;
    max-width: 100%;
    background-color: #000;
    border-radius: 5px;
    box-sizing: border-box;
    aspect-ratio: 4/3;
}

.live-stream__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.live-stream__controls > button {
    min-width: 40px;
    font-weight: bold;
}