<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Auto Farm Recorder</title>

    <link rel="stylesheet" type="text/css" href="static/css/index.css">
  </head>
  <body>
    <h1>Auto Farm Recorder</h1>

    <div class="layout">
      {% include "components/services.html" %}
      {% include "components/stream.html" %}
      {% include "components/actions.html" %}
    </div>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/knockout.js"></script>
    <script type="module" src="static/js/index.js"></script>
  </body>
</html>