<div class="actions">
  <h2>Actions</h2>

  <div>
    <h3>Water Plants</h3>
    <div class="water">
      <button data-bind="click: setWateringTime, enable: waterTime().set === false">
        Start Watering
      </button>
      <button data-bind="click: clearWateringTime, enable: waterTime().set === true">
        Stop Watering
      </button>
    </div>

    <!-- <h3>Stream</h3>
    <div class="video">
      <button>Turn On</button>
      <button>Turn Off</button>
      <button>Restart</button>
    </div>

    <h3>Board</h3>
    <div class="board">
      <button>Restart</button>
    </div> -->
  </div>
</div>