.actions {
  padding: 0px var(--space) var(--space) var(--space);
  border-radius: var(--bradius);
  background-color: coral;
  grid-column: span 2;
}

.actions > div > h3:first-child {
  margin-top: calc(var(--space) * 2);
}