.layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--hspace);
}

@media only screen and (max-width: 1020px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .layout > .actions {
    grid-column: span 1;
  }
}