.actions__container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.actions__block {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    align-items: start;
    align-self: start;
    display: grid;
    gap: 20px;
}

.actions__block--rservice {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.actions__block--rservice > button {
    font-variant: all-small-caps;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.actions__block--tservice {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.actions__block--tservice > span {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    background-color: #efefef;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}

.actions__block--sservice {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.actions__block--sservice > span {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    gap: 10px;
}

.actions__block--sservice > span:hover {
    box-shadow: 1px 1px 3px 0px #aaa;
    -webkit-box-shadow: 1px 1px 3px 0px #aaa;
    -moz-box-shadow: 1px 1px 3px 0px #aaa;
}

.actions__block--sservice > span > p {
    margin: 0px;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .actions__container {
        grid-template-columns: 1fr;
    }
}