.actions__container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.actions__block {
    content-visibility: auto;
    contain-intrinsic-size: 0, 200px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    align-items: start;
    align-content: start;
    display: grid;
    gap: 20px;
}

.actions__block--rservice {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.actions__block--rservice > button {
    font-variant: all-small-caps;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.actions__block--tservice {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.actions__block--tservice > span {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}

.actions__block--tservice > span > span {
    margin-right: 10px;
    margin-left: 10px;
}

.actions__block--tservice > span > div > button {
    border: none;
    border-radius: none;
}

.actions__block--tservice > span > div > button:first-child {
    border-radius: 0px;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    color: #66ff66;
    font-weight: bold;
}

.actions__block--tservice > span > div > button:last-child {
    border-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: red;
    font-weight: bold;
}

.actions__block--sservice {
    max-height: 300px;
    overflow-y: auto;
}

.actions__block--sservice > span {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    gap: 10px;
}

.actions__block--sservice > span:hover {
    box-shadow: 1px 1px 3px 0px #aaa;
    -webkit-box-shadow: 1px 1px 3px 0px #aaa;
    -moz-box-shadow: 1px 1px 3px 0px #aaa;
}

.actions__block--sservice > span > p {
    margin: 0px;
    font-weight: bold;
}

.actions__block--wservice > .notifier { 
    margin-left: 10px;
    font-variant: all-small-caps;
}

.actions__block--wservice > table {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.actions__block--stservice {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.actions__block--stservice > .range {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}

@media only screen and (max-width: 1000px) {
    .actions__container {
        grid-template-columns: 1fr;
    }
}